<ion-content translucent>
  <ion-grid id="main_grid">
  <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="3"></ion-col>
      <ion-col size="6" class="ion-justify-content-center ion-align-items-center">
        <ion-item class="ion-justify-content-center ion-align-items-center">
            REGISTRO ASOCIADO
        </ion-item>
      </ion-col>
      <ion-col size="3"></ion-col>
  </ion-row>
  </ion-grid>

<form id="regitrar_form_container" (ngSubmit)="registrar()">
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <!-- <ion-item id="rounded">
          <ion-input placeholder="Nombres" type="text" inputmode="text" [(ngModel)]="user.nombres" [ngModelOptions]="{standalone: true}" ></ion-input>
      </ion-item>
      <ion-item id="rounded">
          <ion-input placeholder="Apellidos" type="text" inputmode="text" [(ngModel)]="user.apellidos" [ngModelOptions]="{standalone: true}" ></ion-input>
      </ion-item>
      <ion-item id="rounded">
        <ion-input placeholder="numero_celular" type="text" inputmode="numero_celular" [(ngModel)]="user.numero_celular" [ngModelOptions]="{standalone: true}" ></ion-input>
      </ion-item>
      <ion-item id="rounded">
          <ion-input placeholder="Email" type="text" inputmode="email" pattern="email" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" ></ion-input>
      </ion-item>
      <ion-item id="rounded">
          <ion-input placeholder="Contraseña" type="password" inputmode="password" [(ngModel)]="login.password"  [ngModelOptions]="{standalone: true}" ></ion-input>
      </ion-item>
      <ion-item id="rounded">
          <ion-input placeholder="Contraseña" type="password" inputmode="password"  ></ion-input>
      </ion-item>-->
      <!-- <ion-text color="danger" [(ngModel)]="errormsg" [ngModelOptions]="{standalone: true}"></ion-text> -->
      <ion-button routerLink="/login">Volver</ion-button>
      <ion-button type="submit">Ingresar</ion-button> -->
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</form>
</ion-content>

