:host {
    --background: transparent !important;
    --ion-background-color:#ffffff00;
    
    
    .action_buttons{
        color: #FFFFFF;
        text-align: center;
        text-decoration: none;
        width: 100%;
        display: block;
        position: relative;
        margin-top: 7px;
    }
    .register_button{
        margin-top:30px;
    }

    ion-content{
        background: url('/../../assets/img/login-background.png') center top / 100% 100% no-repeat !important;    
    
        #main_grid{
            margin-top: 50px;
        }
        #login_form_container{
            margin-top: 80px;    
        }
        img {
            max-width: 100%;
            border: 0;
            margin: 0px auto;
        }
    
        ion-input{
            background: rgb(255, 255, 255);
            padding: 3px 10px !important;
            border-radius: 10px;
            border: none;
            margin-bottom:15px;
        }
        ion-button{
            margin: 0px auto;
            display: block;
            width: 101px;
            margin-top: 15px;
        }
        ion-item {
            .item-inner{
                border:none;
                --border-color:none;
            }
            .item-interactive.ion-valid, .item-interactive.ion-invalid{
                --highlight-background:none;
                border:none !important;
            }
        }
        
    }
    
}
login-form {
    #main_grid{
        margin-top: 50px;
    }
    #login_form_container{
        margin-top: 50px;    
    }

    input{
        background: rgb(255, 255, 255);
        padding: 13px;
        border-radius: 10px;
        border: none;
    }

    body .item-interactive.ion-valid, 
    body .item-interactive.ion-invalid, 
    body .item-interactive, 
    body .item-native{
        --highlight-background: transparent;
        outline-color:transparent;
        text-decoration-color:transparent;
        -webkit-tap-highlight-color:transparent;
    }
}