<ion-header translucent>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"  *ngIf="user">
<form id="regitrar_form_container" (ngSubmit)="actualizarPerfil()">
    <ion-card class="ion-no-padding">
      <ion-card-content class="bg-profile">
          <ion-item>
                <img id="img-profile" width="150" src="{{user.imagen}}">
          </ion-item>
          <ion-item>
            <ion-label class="header-profile">
              <h3 class="fw500">{{ user.nombres }} {{ user.apellidos }}</h3>
              <p color="light" margin-bottom>{{ user.identificacion }}</p>
            </ion-label>
          </ion-item>
          <!--<ion-button icon-left size="small" color="secondary">
            <ion-icon name="photos"></ion-icon> 
            Cambiar Foto
          </ion-button>-->
        </ion-card-content>
      
        <ion-grid fixed class="ion-no-padding">
          <ion-row>
            <ion-col size="12" class="ion-padding">
    
              <ion-list margin-bottom>
                <ion-list-header color="light">
                  <ion-label class="fw700">Datos</ion-label>
                </ion-list-header>
    
                <ion-item>
                  <ion-label color="dark" position="stacked">Nombres:</ion-label>
                  <ion-input [ngModelOptions]="{standalone: true}"  [(ngModel)]="user.nombres" inputmode="text" placeholder="Nombres" value="{{ user.nombres }}"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label color="dark"  position="stacked">Apellidos:</ion-label>
                  <ion-input [ngModelOptions]="{standalone: true}" [(ngModel)]="user.apellidos"  inputmode="text" placeholder="Apellidos" value="{{ user.apellidos }}"></ion-input>
                </ion-item>
        
                <ion-item>
                  <ion-label color="dark" position="stacked">Email:</ion-label>
                  <ion-input readonly="readonly" [ngModelOptions]="{standalone: true}"  inputmode="email" [(ngModel)]="user.email"  placeholder="Email" value="{{ user.email }}"></ion-input>
                </ion-item>
        
                <ion-item>
                  <ion-label color="dark"  position="stacked">Identificación:</ion-label>
                  <ion-input readonly="readonly" [ngModelOptions]="{standalone: true}"  [(ngModel)]="user.identificacion" inputmode="text" placeholder="Identificación" value="{{ user.identificacion }}"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label color="dark"  position="stacked">Celular:</ion-label>
                  <ion-input [ngModelOptions]="{standalone: true}" [(ngModel)]="user.numero_celular"  inputmode="text" placeholder="Número de celular" value="{{ user.numero_celular }}"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label color="dark"   position="stacked">Teléfono domicilio:</ion-label>
                  <ion-input [ngModelOptions]="{standalone: true}" [(ngModel)]="user.telefono_domicilio" inputmode="text" placeholder="Teléfono del domicilio" value="{{ user.telefono_domicilio }}"></ion-input>
                </ion-item>


              </ion-list>
    
             
      
            </ion-col>
          </ion-row>
        </ion-grid>
      
        <ion-button size="large" expand="full" color="dark" (click)="actualizarPerfil()" no-margin>Actualizar</ion-button>
      </ion-card>
      
      <ion-card class="ion-no-padding">
        <ion-grid fixed class="ion-no-padding">
          <ion-row>
            <ion-col><h3>Servicios</h3></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            <ion-item-group *ngFor="let servicio of user.servicios" color="dark" no-margin>
                <ion-item >
                    <ion-avatar slot="start">
                      <!-- <img src="{{ servicio.imagen }}"> -->
                      <ion-icon name="arrow-dropright-circle"></ion-icon>
                    </ion-avatar>
                    <ion-label >{{ servicio.servicio_nombre }}</ion-label>
                  </ion-item>

            </ion-item-group> 
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

      <section>
        <header>Acciones</header>
        <ion-button expand="block"  (click)="logout()">Cerrar sesión</ion-button>
      </section>


    </form>
</ion-content>



<ion-footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/pedidos">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Mis Pedidos</ion-label>
        <ion-badge>{{ numero_pedidos }}</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/notificaciones">
        <ion-icon name="notifications"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/servicios">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Mis Servicios</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/perfil">
        <ion-icon name="person"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-footer>