<ion-header>
  <ion-toolbar>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item *ngFor="let note of nots">
      <ion-icon color="success" name="notifications-outline"></ion-icon> <ion-text>{{ note.mensaje }}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>



<ion-footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/pedidos">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Mis Pedidos</ion-label>
        <ion-badge>{{ numero_pedidos }}</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/notificaciones">
        <ion-icon name="notifications"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/servicios">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Mis Servicios</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/perfil">
        <ion-icon name="person"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-footer>