<ion-header translucent>
  <ion-toolbar>
    <ion-title>Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pedido" fullscreen>
  <ion-list>
    <ion-item-group fill="outline" color="default">
      <ion-card>

        <ion-grid>
          <ion-row>
            <ion-col size="12" class="ion-padding">
    
              <ion-list class="ion-margin-bottom">
                <ion-item-divider color="light">
                  <ion-label color="dark">Datos del Pedido </ion-label>
                  <ion-note slot="end" >#{{ pedido.pedido.id }}</ion-note>
                </ion-item-divider>
    
                <ion-item>
                  <ion-label color="default" position="stacked">Solicitado: </ion-label>
                  <ion-icon slot="start" color="primary" name="time"></ion-icon>
                  <ion-note slot="end" color="tertiary">{{ pedido.pedido.fecha_creacion }}</ion-note>
                </ion-item>
    
                <ion-item >
                  <ion-label color="default" position="stacked">Servicio: </ion-label>
                  <ion-icon slot="start" color="success" name="time"></ion-icon>
                  <ion-note slot="end" color="tertiary">{{ pedido.pedido.fecha_para_servicio }}</ion-note>
                </ion-item>
    
                <ion-item  lines="none">
                  <ion-label color="default" position="stacked">Estado:</ion-label>
                  <ion-icon slot="start" color="medium" name="flag"></ion-icon>
                  <ion-note slot="end" color="tertiary">{{ pedido.estado }}</ion-note>
                </ion-item>
              </ion-list>
      
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

    <ion-card>
  
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" class="ion-padding">
  
          <ion-list class="ion-margin-bottom">
            
            <ion-item-divider color="light">
               <ion-label color="dark">Datos del Cliente</ion-label>
            </ion-item-divider>
  
            <ion-item>
              <ion-label color="dark" position="stacked">Nombre:</ion-label>
              <ion-note slot="end">{{ pedido.cliente.nombres }} {{ pedido.cliente.apellidos }}</ion-note>
            </ion-item>
            
            <ion-item lines="none">
              <ion-label color="dark" position="stacked">Dirección:</ion-label>
              <ion-note slot="end">{{ pedido.pedido.direccion_completa }}</ion-note>
            </ion-item>
            
          </ion-list>
  
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  


  
    <ion-card>

    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-padding">

          <ion-list class="ion-margin-bottom">
            <ion-item-divider color="light">
              <ion-label color="dark">Datos de Factura</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label color="dark" position="stacked">Valor Unitario:</ion-label>
              <ion-note slot="end" color="primary">{{ pedido.servicio.proveedor_subtotal }}</ion-note>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">Cantidad:</ion-label>
              <ion-note slot="end" color="primary">{{ pedido.pedido.cantidad }}</ion-note>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">Subtotal:</ion-label>
              <ion-note slot="end" color="primary">{{ pedido.pedido.subtotal_asociado }}</ion-note>
            </ion-item>

            <ion-item >
              <ion-label color="dark" position="stacked">IVA:</ion-label>
              <ion-note slot="end" color="primary">{{ pedido.pedido.iva_asociado }}</ion-note>
            </ion-item>

            <ion-item lines="none">
              <ion-label color="dark" position="stacked">Total:</ion-label>
              <ion-note slot="end" color="success">{{ pedido.pedido.total_asociado }}</ion-note>
            </ion-item>
          </ion-list>
  
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  


  
    <ion-card>

    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-padding">

          <ion-list class="ion-margin-bottom">
            <ion-item-divider color="light">
              <ion-label color="dark">Datos de Ubicación</ion-label>
            </ion-item-divider>

            <ion-item lines="none">
              <ion-label color="dark" position="stacked">Mapa:</ion-label>
            </ion-item>

            <ion-item lines="none">
              <div id="map_canvas" style="min-height:450px;"></div>
            </ion-item>

            <ion-item lines="none">
              <ion-label color="dark" position="stacked">Detalles de ubicación:</ion-label>
              {{ pedido.pedido.observaciones_adicionales }}
            </ion-item>
            
          </ion-list>
  
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid >
      <ion-row>
        <ion-col>
          <ion-list class="ion-margin-bottom">
            <ion-item-divider color="light">
              <ion-label color="dark">Datos del Servicio</ion-label>
           </ion-item-divider>

            <ion-item>
              <ion-thumbnail slot="start">
                <img src="{{ pedido.servicio.imagen }}">
              </ion-thumbnail>
              <ion-label>
                <h3>Nombre:</h3>
                <p>{{ pedido.servicio.nombre }}</p>
              </ion-label>
            </ion-item>

            <ion-item >
              <ion-label color="dark" position="stacked">Incluye:</ion-label>
              <ul>
                <li  *ngFor="let incluye of servicio_incluye">{{ incluye }}</li>
              </ul>
            </ion-item>

            <ion-item lines="none">
              <ion-label color="dark" position="stacked">No incluye:</ion-label>
              <ul>
                <li  *ngFor="let no_incluye of servicio_no_incluye">{{ no_incluye }}</li>
              </ul>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  
</ion-item-group>
</ion-list>
</ion-content>



<ion-footer>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/pedidos">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Mis Pedidos</ion-label>
      <ion-badge>{{ numero_pedidos }}</ion-badge>
    </ion-tab-button>

    <ion-tab-button routerLink="/notificaciones">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/servicios">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Mis Servicios</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-footer>
