<ion-header translucent>
  <ion-toolbar>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="servicios" fullscreen>
  <ion-list>
    <ion-item-group fill="outline" color="default">
    <ion-card *ngFor="let servicio of servicios" >
    <ion-grid >
      <ion-row>
        <ion-col>
          <ion-list class="ion-margin-bottom">
            <ion-item-divider color="light">
              <h4 color="dark">{{ servicio.nombre }}</h4>
           </ion-item-divider>

            <ion-item>
              <ion-thumbnail slot="start">
                <img src="{{ servicio.imagen }}">
              </ion-thumbnail>
              <ion-label>
                <h2><b>Precio:</b> {{ servicio.proveedor_total }}</h2>
              </ion-label>
            </ion-item>

            <ion-item >
              <ion-label color="dark" position="stacked">Incluye:</ion-label>
              <ul>
                <li  *ngFor="let incluye of servicio.incluye">{{ incluye }}</li>
              </ul>
            </ion-item>

            <ion-item lines="none">
              <ion-label color="dark" position="stacked">No incluye:</ion-label>
              <ul>
                <li  *ngFor="let no_incluye of servicio.no_incluye">{{ no_incluye }}</li>
              </ul>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  
</ion-item-group>
</ion-list>
</ion-content>



<ion-footer>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/pedidos">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Mis Pedidos</ion-label>
      <ion-badge>{{ numero_pedidos }}</ion-badge>
    </ion-tab-button>

    <ion-tab-button routerLink="/notificaciones">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/servicios">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Mis Servicios</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-footer>
