<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="pedidos">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Pedidos</ion-label>
        <ion-badge>5</ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>