<ion-content *ngIf="can_login" id="login-form" class="ion-padding" translucent>
    <ion-grid id="main_grid">
    <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="3"></ion-col>
        <ion-col size="6" class="ion-justify-content-center ion-align-items-center">
          <ion-item class="ion-justify-content-center ion-align-items-center">
              <img width="120" src="assets/img/logo-home.png"  />
          </ion-item>
        </ion-col>
        <ion-col size="3"></ion-col>
    </ion-row>
    </ion-grid>

  <form id="login_form_container" (ngSubmit)="submit()">
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-item id="rounded">
            <ion-input placeholder="Email" type="text" inputmode="email" pattern="email" [(ngModel)]="login.username" [ngModelOptions]="{standalone: true}" ></ion-input>
        </ion-item>
        <ion-item id="rounded">
            <ion-input placeholder="Contraseña" type="password" inputmode="password" [(ngModel)]="login.password"  [ngModelOptions]="{standalone: true}" ></ion-input>
        </ion-item>
        <!-- <ion-text color="danger" [(ngModel)]="errormsg" [ngModelOptions]="{standalone: true}"></ion-text> -->
        <ion-button type="submit">Ingresar</ion-button>
        
            <a class="action_buttons register_button" href="https://app.youneed.com.ec/registro/asociado">Registro</a>
            <a class="action_buttons" target="_blank" href="https://youneed.com.ec/app/requestnewpassword">Recuperar contraseña</a>
          
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </form>
</ion-content>
