<ion-header translucent>
  <ion-toolbar>
    <ion-title><img class="logo-img" src="assets/img/logo-admin.png" alt="YouNeed"/></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" overflow-scroll="false">
      <ion-list>
        <ion-item-group fill="outline" color="default" *ngFor="let pedido of pedidos">
        <ion-card >
            <ion-card-header>
                <ion-card-subtitle>PEDIDO</ion-card-subtitle>
                <ion-card-title>{{ pedido.id }}</ion-card-title>
              </ion-card-header>
            <ion-card-content>
              <ion-item>
                  <ion-label>Nombre</ion-label>
                  <ion-note slot="end" color="dark">{{ pedido.razon_social }}</ion-note>
              </ion-item>
              <ion-item>  
                  <ion-label>Cliente</ion-label>
                  <ion-button fill="solid" size="default" slot="end" color="success" routerLink="/cliente-detail/{{pedido.id}}">Ver Datos</ion-button>
              </ion-item>
              <ion-item>
                <ion-label>Subtotal</ion-label>
                <ion-note slot="end" color="primary">{{ pedido.subtotal_asociado }}</ion-note>
            </ion-item>
            <ion-item>
              <ion-label>Iva</ion-label>
              <ion-note slot="end" color="primary">{{ pedido.iva_asociado }}</ion-note>
          </ion-item>
              <ion-item>
                  <ion-label>Total</ion-label>
                  <ion-note slot="end" color="primary">{{ pedido.total_asociado }}</ion-note>
              </ion-item>
              <ion-item>
                  <ion-label>Estado ({{ pedido.estado }})</ion-label>
                  <ion-note slot="end" color="primary">{{ pedido._estado }}</ion-note>
              </ion-item>
              <ion-item [color]="color[pedido.estado]" class="ion-text-center ion-justify-content-center">
                <ion-button *ngIf="pedido.estado == 0" fill="solid" size="default" color="primary" (click)="aceptarPedido( pedido.id, pedido.estado )">Aceptar</ion-button>
                <ion-button *ngIf="pedido.estado == 0" fill="solid" size="default" color="danger" (click)="rechazarPedido( pedido.id, pedido.estado )">Rechazar</ion-button>
                <ion-button *ngIf="pedido.estado == 1" fill="solid" size="default" color="success" (click)="confirmarPedido( pedido.id, pedido.estado )">Confirmar Servicio</ion-button>
                <ion-button *ngIf="pedido.estado == 3" fill="solid" size="default" color="warning" (click)="terminarPedido( pedido.id, pedido.estado )">Terminar Servicio</ion-button>
                <ion-label *ngIf="pedido.estado == 2" fill="solid" size="default" color="light">Pedido cancelado</ion-label>
                <ion-label *ngIf="pedido.estado == 4" fill="solid" size="default" >Pedido Terminado</ion-label>
              </ion-item>
            </ion-card-content>
        </ion-card>
        </ion-item-group>
      </ion-list>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text >{{ scrollmsg }}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>

<ion-footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/pedidos">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Mis Pedidos</ion-label>
        <ion-badge>{{ numero_pedidos }}</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/notificaciones">
        <ion-icon name="notifications"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/servicios">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Mis Servicios</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/perfil">
        <ion-icon name="person"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>